/ml_training_data/
/logs/
/ml_training_data/lookups/
/venv37/
/venv/
/dist/
/ml_models/
.idea/
__pycache__/
*.pyc
*.pkl
build/lib/sire_mapping/data/
siremapping/sire_mapping/__pycache__/
siremapping/test/__pycache__/
siremapping\test\__pycache__\
*.DS_Store
.vscode/
image_classification/
*.csv
*.zip
.ipynb_checkpoints/